.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.4;
  justify-content: space-between;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderSquare {
  border-radius: 10px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.yearItem {
  position: relative;
  height: 4rem;
  pointer-events: none;
  opacity: 0.2;
  font-weight: 700;
  font-size: 8em;
}

.circleDoubleUp {
  position: fixed;
  right: 10em;
  bottom: 10em;
  cursor: pointer;
  z-index: 10;
}

.pagination {
  margin-top: 4rem;
  display: flex;
  justify-content: end;
}
